
.full-width {
    width: 100%;
}

.recipient-width{
    width: 90%;
}

.share-button{
    float: right;
    margin-right: 40px;
}

.share-section{
    padding-bottom: 20px;
}

.table-container {
    height: 400px;
    overflow: auto;
}
  
table {
    width: 100%;
}

.share-card {
    min-width: 100%;
    margin-top:10px;
}

.share-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}