<button mat-raised-button color="primary" class="fab-button"  (click)="openModal(loginModal)">{{ username }}</button>
<!-- Login section start-->
<ng-template #loginModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Login</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="loginForm">
                <div class="form-group">
                    <label for="username">User Name</label>
                    <div class="input-group">
                        <input id="username" class="form-control" formControlName="username" placeholder="user.name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="input-group">
                        <input id="password" class="form-control" formControlName="password" type="password">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" mat-flat-button color="primary" (click)="onLogin(loginModal)">Login</button>
        </div>
    </ng-template>
    <!-- Login section end-->
<!--Homepage section start-->
<!-- <mat-tab-group mat-stretch-tabs [color]="accent" [backgroundColor]="background">
    <mat-tab> 
    <ng-template mat-tab-label class="mat-tab-header-bar">
        <mat-icon class="tab-icon">pets</mat-icon>
        Quickshare
    </ng-template>
    <app-share></app-share>
    </mat-tab>
    <mat-tab> 
        <ng-template mat-tab-label class="mat-tab-header-bar">
            <mat-icon class="tab-icon">trending_up</mat-icon>
            Groups
        </ng-template>
        <app-groups></app-groups>
    </mat-tab>
</mat-tab-group> -->
<!--Homepage section end-->

<!--Simpler homepage before project is feature complete-->
<app-share></app-share>